

.payroll-header {
    text-align: center;
    margin-bottom: 1px;
     margin-top: -2px;
}


.payroll-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10px;
}
.payroll-table-container {
    overflow-x: auto;
    margin-top: 20px;
}
.payroll-table {
    width: 100%;
    border-collapse: collapse;
}

.payroll-table th,
.payroll-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.payroll-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}
.checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}